@charset "UTF-8";

        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            display: flex;
            background-color: #f07c19;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
        }

        main {
            margin-top: 50px;
            width: 600px;
            background-color: white;
            border: 2px solid black;
            border-radius: 10px;
            padding: 10px;
        }

        section > h1, h2 {
            margin-bottom: 5px;
        }

        section > h1 {
            background-color: #e32551;
            border-radius: 10px;
            color: white;
            padding: 3px;
            border: 1px solid black;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
        }

        section > h2 {
            background-image: linear-gradient(to right, #029daf , #27a5b3, #5ca7af);
            border-radius: 10px;
            color: white;
            padding: 3px;
            border: 1px solid black;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
        }

        section > p,ul {
            margin-bottom: 20px;
            text-indent: 20px;
        }

        section > ul {
            text-indent: 0px;
        }

        .lst {
            display: flex;
            height: 110px;
            flex-flow: column wrap;
            justify-content: space-between;
            align-items: flex-start;
        }

         #firstP {
            margin-bottom: 0px;
            text-indent: 0px;
        }

        ul {
            list-style: none;
        }

        li::before {
            content: "- ";
        }

        hr {
            border: 0.5px solid black;
        }