@charset "UTF-8";

        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            background-color: #00473c;
        }

        main {
            background-color: white;
            margin: 20px 20px 0px 20px;
            height: 93vh;
            border-radius: 10px;
            padding: 10px 10px 0px 10px;
        }

        h1 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 2em;
            margin-bottom: 4px;
            color: #00473c;
            background-image: linear-gradient(to right, rgb(150, 240, 205), #19695d,#00473c);
            border-radius: 10px;
            padding: 0px 5px;
        }

        h2 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1.5em;
            color: white;
            margin-bottom: 4px;
            background-image: linear-gradient(to left, rgb(150, 240, 205), #19695d,#00473c);
            border-radius: 10px;
            padding: 0px 5px;
        }

        p {
            display: block;
            margin-bottom: 30px;
        }

        div {
            text-align: center;
            font-weight: bold;
            color: #00473cbd;
        }