@charset "UTF-8";

        @import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        main {
            display: flex;
            flex-flow: column wrap;

            width: 600px;

            background-color: #F5A3EA;
            margin: auto;
            padding: 20px;
            border-radius: 20px;
            border: 2px solid black;
        }

        h1 {
            font-family: "Imperial Script", cursive;
            font-size: 4em;

            background-color: black;
            color: white;
            padding: 10px 15px 10px 30px;
            border-radius: 20px;
            border: 2px solid white;
        }

        p {
            font-family: "PT Serif", serif;
        }

        p#conteudo {
            font-size: 1.5em;
            font-weight: bolder;
            color: black;
            margin-bottom: 30px;
            margin-top: 25px;
            text-decoration: overline 5px ;
            text-align: center;
        }

        p#data , #autora {
            align-self: flex-end;
            color: rgba(255, 255, 255, 0.781);
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
        }