@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --cor1:#867c6f;
    --cor3:#2b1d01;
    --fonte1:"PT Serif", serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

main {
    background-color: var(--cor1);
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

h1,h2 {
    text-align: center;
    padding-bottom: 15px;
    color: var(--cor3);
    font-family: var(--fonte1);
}

h2 {
    text-align: left;
    padding: 0px;
}

ul {
    padding-top: 5px;
    padding-bottom: 20px;
}

li {
    line-height: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}